# Exercise 3: Data objects

These exercises are designed to get you comfortable extracting information from data objects. 

We'll work with the `Credit` dataset which comes in the `ISLR` package in R. This is a simulated dataset that provides credit and demographic information on 10,000 hypothetical customers.

---
## 1. Load packages, data, model (1 point)

Install and load `ISLR` below.

In [56]:
#install.packages("ISLR")
library(ISLR)
# install.packages("tidyverse")
library(tidyverse) # to see first six lines of data

Take a look at the first few rows of the `Credit` dataset.

In [57]:
# INSERT CODE HERE
head(Credit) # first six lines

Credit # see full dataset

  ID Income  Limit Rating Cards Age Education Gender Student Married Ethnicity
1 1   14.891 3606  283    2     34  11         Male  No      Yes     Caucasian
2 2  106.025 6645  483    3     82  15        Female Yes     Yes     Asian
3 3  104.593 7075  514    4     71  11         Male  No      No      Asian
4 4  148.924 9504  681    3     36  11        Female No      No      Asian
5 5   55.882 4897  357    2     68  16         Male  No      Yes     Caucasian
6 6   80.180 8047  569    4     77  10         Male  No      No      Caucasian
  Balance
1  333
2  903
3  580
4  964
5  331
6 1151

    ID  Income  Limit Rating Cards Age Education Gender Student Married
1    1   14.891  3606 283    2     34  11         Male  No      Yes
2    2  106.025  6645 483    3     82  15        Female Yes     Yes
3    3  104.593  7075 514    4     71  11         Male  No      No
4    4  148.924  9504 681    3     36  11        Female No      No
5    5   55.882  4897 357    2     68  16         Male  No      Yes
6    6   80.180  8047 569    4     77  10         Male  No      No
7    7   20.996  3388 259    2     37  12        Female No      No
8    8   71.408  7114 512    2     87   9         Male  No      No
9    9   15.125  3300 266    5     66  13        Female No      No
10  10   71.061  6819 491    3     41  19        Female Yes     Yes
11  11   63.095  8117 589    4     30  14         Male  No      Yes
12  12   15.045  1311 138    3     64  16         Male  No      No
13  13   80.616  5308 394    1     57   7        Female No      Yes
14  14   43.682  6922 511    1     49   9         Male  No      Yes
15  15   19.144  3291 269    2     75  13        Female No      No
16  16   20.089  2525 200    3     57  15        Female No      Yes
17  17   53.598  3714 286    3     73  17        Female No      Yes
18  18   36.496  4378 339    3     69  15        Female No      Yes
19  19   49.570  6384 448    1     28   9        Female No      Yes
20  20   42.079  6626 479    2     44   9         Male  No      No
21  21   17.700  2860 235    4     63  16        Female No      No
22  22   37.348  6378 458    1     72  17        Female No      No
23  23   20.103  2631 213    3     61  10         Male  No      Yes
24  24   64.027  5179 398    5     48   8         Male  No      Yes
25  25   10.742  1757 156    3     57  15        Female No      No
26  26   14.090  4323 326    5     25  16        Female No      Yes
27  27   42.471  3625 289    6     44  12        Female Yes     No
28  28   32.793  4534 333    2     44  16         Male  No      No
29  29  186.634 13414 949    2     41  14        Female No      Yes
30  30   26.813  5611 411    4     55  16        Female No      No
⋮   ⋮   ⋮       ⋮     ⋮      ⋮     ⋮   ⋮         ⋮      ⋮       ⋮
371 371  35.610  6135 466    4     40  12         Male  No      No
372 372  39.116  2150 173    4     75  15         Male  No      No
373 373  19.782  3782 293    2     46  16        Female Yes     No
374 374  55.412  5354 383    2     37  16        Female Yes     Yes
375 375  29.400  4840 368    3     76  18        Female No      Yes
376 376  20.974  5673 413    5     44  16        Female No      Yes
377 377  87.625  7167 515    2     46  10        Female No      No
378 378  28.144  1567 142    3     51  10         Male  No      Yes
379 379  19.349  4941 366    1     33  19         Male  No      Yes
380 380  53.308  2860 214    1     84  10         Male  No      Yes
381 381 115.123  7760 538    3     83  14        Female No      No
382 382 101.788  8029 574    2     84  11         Male  No      Yes
383 383  24.824  5495 409    1     33   9         Male  Yes     No
384 384  14.292  3274 282    9     64   9         Male  No      Yes
385 385  20.088  1870 180    3     76  16         Male  No      No
386 386  26.400  5640 398    3     58  15        Female No      No
387 387  19.253  3683 287    4     57  10         Male  No      No
388 388  16.529  1357 126    3     62   9         Male  No      No
389 389  37.878  6827 482    2     80  13        Female No      No
390 390  83.948  7100 503    2     44  18         Male  No      No
391 391 135.118 10578 747    3     81  15        Female No      Yes
392 392  73.327  6555 472    2     43  15        Female No      No
393 393  25.974  2308 196    2     24  10         Male  No      No
394 394  17.316  1335 138    2     65  13         Male  No      No
395 395  49.794  5758 410    4     40   8         Male  No      No
396 396  12.096  4100 307    3     32  13         Male  No      Yes
397 397  13.364  3838 296    5     65  17         Male  No      No
398 398  57.872  4171 321    5     67  12        Female No      Yes
399 399  37.728  2525 192    1     44  13         Male  No      Yes
400 400  18.701  5524 415    5     64   7        Female No      No
    Ethnicity        Balance
1   Caucasian         333
2   Asian             903
3   Asian             580
4   Asian             964
5   Caucasian         331
6   Caucasian        1151
7   African American  203
8   Asian             872
9   Caucasian         279
10  African American 1350
11  Caucasian        1407
12  Caucasian           0
13  Asian             204
14  Caucasian        1081
15  African American  148
16  African American    0
17  African American    0
18  Asian             368
19  Asian             891
20  Asian            1048
21  Asian              89
22  Caucasian         968
23  African American    0
24  African American  411
25  Caucasian           0
26  African American  671
27  Caucasian         654
28  African American  467
29  African American 1809
30  Caucasian         915
⋮   ⋮                ⋮
371 Caucasian         992
372 Caucasian           0
373 Caucasian         840
374 Caucasian        1003
375 Caucasian         588
376 Caucasian        1000
377 African American  767
378 Caucasian           0
379 Caucasian         717
380 Caucasian           0
381 African American  661
382 Caucasian         849
383 Caucasian        1352
384 Caucasian         382
385 African American    0
386 Asian             905
387 African American  371
388 Asian               0
389 Caucasian        1129
390 Caucasian         806
391 Asian            1393
392 Caucasian         721
393 Asian               0
394 African American    0
395 Caucasian         734
396 Caucasian         560
397 African American  480
398 Caucasian         138
399 Caucasian           0
400 Asian             966

[1] 400

We can see that we have a nice **tidy** data frame here. Each column is a separate variable and each row is a different observation (in this case, simulated customers).

The code below fits a linear model to predict credit card balance from the card limit and the card owner's credit rating, age, gender, and student status. This model is saved as the `cred_lm` model object. The `summary()` function extracts important summary information from the model object so we can interpret the results.

In [58]:
cred_lm  <- lm(Balance ~ Limit + Rating + Age + Gender + Student, Credit)
summary(cred_lm)

Call:
lm(formula = Balance ~ Limit + Rating + Age + Gender + Student,
    data = Credit)

Residuals:
    Min      1Q  Median      3Q     Max
-682.49 -127.65    3.92  135.17  453.60

Coefficients:
               Estimate Std. Error t value Pr(>|t|)
(Intercept)  -292.49382   48.88704  -5.983 4.92e-09 ***
Limit           0.05265    0.05392   0.976 0.329428
Rating          1.80924    0.80462   2.249 0.025092 *
Age            -2.12967    0.57212  -3.722 0.000226 ***
GenderFemale   -0.34809   19.63579  -0.018 0.985865
StudentYes    397.16094   32.76189  12.123  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 195.9 on 394 degrees of freedom
Multiple R-squared:  0.8207,	Adjusted R-squared:  0.8184
F-statistic: 360.6 on 5 and 394 DF,  p-value: < 2.2e-16

## 2. Replicating `summary` outputs (5 pts)

Let's see if we can replicate some of the values included in the `summary()` output.

Let's start with the residual standard error, aka sigma. We can see above that this is 195.9 for this model. You can directly extract sigma as follows:

In [59]:
sigma(cred_lm)

[1] 195.9206

In `lm`, sigma is calculated as 

$$ \sqrt{\frac{SSE}{n-p}} $$

Where SSE is the sum of squared errors, `n` is the number of observations, and `p` is the number of parameters estimated (hint: this includes the intercept). So the denominator boils down to the degrees of freedom. 

Below, use what you've learned about extracting information from model objects to calculate the SSE and extract `n` and `p`. 

Hint: remember that R is really good at *vectorized operations*, meaning it easily applies the same operation individually to each element of a given vector.

In [64]:
# INSERT CODE HERE
#qqnorm(cred_lm$resid) # view residuals graphically
#cred_lm$residuals # see all residuals

# Calculate SSE
SSE <- sum(resid(cred_lm)^2)
SSE

# Extract n from dataset
n <- nrow(Credit)
n
# Extract p from model
p <- length(coefficients(cred_lm))
p

[1] 15123649

[1] 400

[1] 6

Now, combine your work above to write a function that takes any fitted linear model and returns the residual standard error. Then test your function on the `cred_lm` model object. Compare your answer to sigma extracted directly from the model object.

In [65]:
# INSERT CODE HERE

## STEPS FOR GETTING RESIDUAL STANDARD ERROR
# fit regression model
cred_lm  <- lm(Balance ~ Limit + Rating + Age + Gender + Student, Credit)

## FUNCTION
res_se_fun = function(cred_lm, SSE=15123649.0842734 ,n=400,p=6) {
  res_se <- sqrt((SSE)/(n-p))
  return(res_se)
}

In [66]:
# Test and compare results. 
res_se_fun(cred_lm) # Replace with your own function name
sigma(cred_lm)

[1] 195.9206

[1] 195.9206

---
## 3. Summary table and indexing (4 pts)

Let's say we wanted to extract the entire coefficient table provided to us by the `summary()` function above, maybe for use in a publication. You might expect this to be pulled by:

In [67]:
cred_lm$coefficients

  (Intercept)         Limit        Rating           Age  GenderFemale
-292.49382335    0.05265499    1.80924401   -2.12966556   -0.34809093
   StudentYes
 397.16093911

But as we saw in the tutorial, this pulls just the variable name and estimate, and not the standard error, t-statistic, or p-value. You could try to find where all this information is stored in the `cred_lm` object using the `str()` function.

In [68]:
str(cred_lm)

List of 13
 $ coefficients : Named num [1:6] -292.4938 0.0527 1.8092 -2.1297 -0.3481 ...
  ..- attr(*, "names")= chr [1:6] "(Intercept)" "Limit" "Rating" "Age" ...
 $ residuals    : Named num [1:400] -3.99 -250.44 -278.79 -399.02 -135.44 ...
  ..- attr(*, "names")= chr [1:400] "1" "2" "3" "4" ...
 $ effects      : Named num [1:400] -10400 -7914 -537 -804 129 ...
  ..- attr(*, "names")= chr [1:400] "(Intercept)" "Limit" "Rating" "Age" ...
 $ rank         : int 6
 $ fitted.values: Named num [1:400] 337 1153 859 1363 466 ...
  ..- attr(*, "names")= chr [1:400] "1" "2" "3" "4" ...
 $ assign       : int [1:6] 0 1 2 3 4 5
 $ qr           :List of 5
  ..$ qr   : num [1:400, 1:6] -20 0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.05 0.05 ...
  .. ..- attr(*, "dimnames")=List of 2
  .. .. ..$ : chr [1:400] "1" "2" "3" "4" ...
  .. .. ..$ : chr [1:6] "(Intercept)" "Limit" "Rating" "Age" ...
  .. ..- attr(*, "assign")= int [1:6] 0 1 2 3 4 5
  .. ..- attr(*, "contrasts")=List of 2
  .. .. ..$ Gender : chr "contr.treatment"
  .. .. ..$ Student: chr "contr.treatment"
  ..$ qraux: num [1:6] 1.05 1.04 1.01 1.07 1.05 ...
  ..$ pivot: int [1:6] 1 2 3 4 5 6
  ..$ tol  : num 1e-07
  ..$ rank : int 6
  ..- attr(*, "class")= chr "qr"
 $ df.residual  : int 394
 $ contrasts    :List of 2
  ..$ Gender : chr "contr.treatment"
  ..$ Student: chr "contr.treatment"
 $ xlevels      :List of 2
  ..$ Gender : chr [1:2] " Male" "Female"
  ..$ Student: chr [1:2] "No" "Yes"
 $ call         : language lm(formula = Balance ~ Limit + Rating + Age + Gender + Student, data = Credit)
 $ terms        :Classes 'terms', 'formula'  language Balance ~ Limit + Rating + Age + Gender + Student
  .. ..- attr(*, "variables")= language list(Balance, Limit, Rating, Age, Gender, Student)
  .. ..- attr(*, "factors")= int [1:6, 1:5] 0 1 0 0 0 0 0 0 1 0 ...
  .. .. ..- attr(*, "dimnames")=List of 2
  .. .. .. ..$ : chr [1:6] "Balance" "Limit" "Rating" "Age" ...
  .. .. .. ..$ : chr [1:5] "Limit" "Rating" "Age" "Gender" ...
  .. ..- attr(*, "term.labels")= chr [1:5] "Limit" "Rating" "Age" "Gender" ...
  .. ..- attr(*, "order")= int [1:5] 1 1 1 1 1
  .. ..- attr(*, "intercept")= int 1
  .. ..- attr(*, "response")= int 1
  .. ..- attr(*, ".Environment")=<environment: R_GlobalEnv>
  .. ..- attr(*, "predvars")= language list(Balance, Limit, Rating, Age, Gender, Student)
  .. ..- attr(*, "dataClasses")= Named chr [1:6] "numeric" "numeric" "numeric" "numeric" ...
  .. .. ..- attr(*, "names")= chr [1:6] "Balance" "Limit" "Rating" "Age" ...
 $ model        :'data.frame':	400 obs. of  6 variables:
  ..$ Balance: int [1:400] 333 903 580 964 331 1151 203 872 279 1350 ...
  ..$ Limit  : int [1:400] 3606 6645 7075 9504 4897 8047 3388 7114 3300 6819 ...
  ..$ Rating : int [1:400] 283 483 514 681 357 569 259 512 266 491 ...
  ..$ Age    : int [1:400] 34 82 71 36 68 77 37 87 66 41 ...
  ..$ Gender : Factor w/ 2 levels " Male","Female": 1 2 1 2 1 1 2 1 2 2 ...
  ..$ Student: Factor w/ 2 levels "No","Yes": 1 2 1 1 1 1 1 1 1 2 ...
  ..- attr(*, "terms")=Classes 'terms', 'formula'  language Balance ~ Limit + Rating + Age + Gender + Student
  .. .. ..- attr(*, "variables")= language list(Balance, Limit, Rating, Age, Gender, Student)
  .. .. ..- attr(*, "factors")= int [1:6, 1:5] 0 1 0 0 0 0 0 0 1 0 ...
  .. .. .. ..- attr(*, "dimnames")=List of 2
  .. .. .. .. ..$ : chr [1:6] "Balance" "Limit" "Rating" "Age" ...
  .. .. .. .. ..$ : chr [1:5] "Limit" "Rating" "Age" "Gender" ...
  .. .. ..- attr(*, "term.labels")= chr [1:5] "Limit" "Rating" "Age" "Gender" ...
  .. .. ..- attr(*, "order")= int [1:5] 1 1 1 1 1
  .. .. ..- attr(*, "intercept")= int 1
  .. .. ..- attr(*, "response")= int 1
  .. .. ..- attr(*, ".Environment")=<environment: R_GlobalEnv>
  .. .. ..- attr(*, "predvars")= language list(Balance, Limit, Rating, Age, Gender, Student)
  .. .. ..- attr(*, "dataClasses")= Named chr [1:6] "numeric" "numeric" "numeric" "numeric" ...
  .. .. .. ..- attr(*, "names")= chr [1:6] "Balance" "Limit" "Rating" "Age" ...
 - attr(*, "class")= chr "lm"

But you actually won't find it in there! That's because the information in the coefficient table is a component of `summary()`, not a component of the model object itself. That's right, `summary()` creates it's own object that you can further pull information from.

Knowing this, pull the coefficient table from the `summary()` object.

In [69]:
# INSERT CODE HERE

# Extract coefficients in matrix
summary(cred_lm)$coefficients

             Estimate      Std. Error  t value     Pr(>|t|)
(Intercept)  -292.49382335 48.88704367 -5.98305402 4.922383e-09
Limit           0.05265499  0.05392354  0.97647505 3.294283e-01
Rating          1.80924401  0.80462003  2.24856944 2.509189e-02
Age            -2.12966556  0.57211502 -3.72244305 2.260330e-04
GenderFemale   -0.34809093 19.63578922 -0.01772737 9.858653e-01
StudentYes    397.16093911 32.76189104 12.12265002 5.800207e-29

Maybe we are not interested in including the t-statistic in our final table. Pull **just** the estimate, SE, and p-value from the `summary()` object.

In [70]:
# INSERT CODE HERE
# summary(cred_lm)$coefficients
# Pull just the estimate, SE, and p-value [columns]
summary(cred_lm)$coefficients[,c(1, 2, 4)] 
# OR
summary(cred_lm)$coefficients[,-3]
# does the same thing

             Estimate      Std. Error  Pr(>|t|)
(Intercept)  -292.49382335 48.88704367 4.922383e-09
Limit           0.05265499  0.05392354 3.294283e-01
Rating          1.80924401  0.80462003 2.509189e-02
Age            -2.12966556  0.57211502 2.260330e-04
GenderFemale   -0.34809093 19.63578922 9.858653e-01
StudentYes    397.16093911 32.76189104 5.800207e-29

             Estimate      Std. Error  Pr(>|t|)
(Intercept)  -292.49382335 48.88704367 4.922383e-09
Limit           0.05265499  0.05392354 3.294283e-01
Rating          1.80924401  0.80462003 2.509189e-02
Age            -2.12966556  0.57211502 2.260330e-04
GenderFemale   -0.34809093 19.63578922 9.858653e-01
StudentYes    397.16093911 32.76189104 5.800207e-29

Now, pull the table again but drop the `(Intercept)` term. (Don't save and alter your table above -- practice pulling the same table, minus the intercept term, directly from the summary.)

In [71]:
# INSERT CODE HERE
# summary(cred_lm)$coefficients
# Drop Intercept [row]
summary(cred_lm)$coefficients[c(2, 3, 4, 5, 6),] 
# OR
summary(cred_lm)$coefficients[-1,]
# does the same thing

             Estimate     Std. Error  t value     Pr(>|t|)
Limit          0.05265499  0.05392354  0.97647505 3.294283e-01
Rating         1.80924401  0.80462003  2.24856944 2.509189e-02
Age           -2.12966556  0.57211502 -3.72244305 2.260330e-04
GenderFemale  -0.34809093 19.63578922 -0.01772737 9.858653e-01
StudentYes   397.16093911 32.76189104 12.12265002 5.800207e-29

             Estimate     Std. Error  t value     Pr(>|t|)
Limit          0.05265499  0.05392354  0.97647505 3.294283e-01
Rating         1.80924401  0.80462003  2.24856944 2.509189e-02
Age           -2.12966556  0.57211502 -3.72244305 2.260330e-04
GenderFemale  -0.34809093 19.63578922 -0.01772737 9.858653e-01
StudentYes   397.16093911 32.76189104 12.12265002 5.800207e-29

That's all for Exercise 3! When you are finished, save the notebook as Exercise3.ipynb, push it to your class GitHub repository and send the instructors a link to your notebook via Canvas. You can send messages via Canvas by clicking "Inbox" on the left and then pressing the icon with a pencil inside a square.

**DUE:** 5pm EST, Feb 8, 2023

**IMPORTANT** Did you collaborate with anyone on this assignment? If so, list their names here. 
> *Someone's Name*